section{
  max-width: 900px;
} 

/*------- MAIN-0 -------*/
.main-0{
  margin: 170px auto;
}
// /*------- MAIN-1 -------*/

// /*------- MAIN-3 -------*/
.main-3{ 
    .circle, .check{
      font-size: 22px; 
      padding: 0 10px;
    }

//////////////////////////



    // .cardimg, .cardimg2, .cardimg3{
    //     margin: 10px auto;
    // }
    // // .cardimg2{
    // //     margin: 36px auto;
    // // }
    // .cardimg3{
    //     margin: 47px auto;
    // }
  
  .boxBtn{
    font-size: 12px !important;
  }
  .sp100{
    font-size: 6px;
  }
  .box{
    width: 98px !important;
    margin: 6px !important;
  }
//   .opacity{
//     opacity: 0.5 !important; 
//   }
//   .spo_ssl{
//     font-size: small;
//     margin-left: -10px;
//   }
//   .title{
//     font-size: x-large;
//   }
//   .title2{
//     font-size: xx-large;
//   }

}


/*------- FOOTER -------*/
footer{
    .phone-girl{
        width: 200px;
    }
}

